@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;

  --color-medical-50: #eff6ff;
  --color-medical-100: #dbeafe;
  --color-medical-200: #bfdbfe;
  --color-medical-300: #93c5fd;
  --color-medical-400: #60a5fa;
  --color-medical-500: #3b82f6;
  --color-medical-600: #2563eb;
  --color-medical-700: #1d4ed8;
  --color-medical-800: #1e40af;
  --color-medical-900: #1e3a8a;
  --color-medical-950: #172554;

  @keyframes scanning {
    0% {
      top: 0%;
    }

    50% {
      top: 95%;
    }

    100% {
      top: 0%;
    }
  }
}

@layer base {
  body {
    @apply font-sans bg-slate-50 text-slate-900 antialiased overflow-x-hidden;
  }
}

@layer components {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-slate-200 rounded-full;
  }

  .laser-container {
    @apply relative overflow-hidden;
  }

  .laser-line {
    @apply absolute top-0 left-0 w-full h-[4px] z-20;
    background: linear-gradient(to bottom, transparent, var(--color-medical-600), transparent);
    box-shadow: 0 0 15px var(--color-medical-600);
    animation: scanning 2s ease-in-out infinite;
  }
}